
#component-root{
  padding: 20px;
  background-color: #e2e2e2;
}

.grid-spec-row{
  margin-top: 20px !important;
}

#left-paper{
  overflow: hidden;
}

.paper-footer{
  height: 70px;
  background-color: #37a000;
  overflow: hidden !important;
}

.paper-header{
  height: 70px;
  background-color: #37a000;
  overflow: hidden !important;
}

